<p class={Astro.props.class}>
  I am a 21 years old <span class="font-bold text-green-400"
    >fullstack developer</span
  >
   from <span class="text-cyan-400 font-bold">Uruguay</span>, and currently
  coursing a degree in Computer Science at the <span
    class="text-red-600 font-extrabold"
  >
    ORT University</span
  > while working at <span class="text-yellow-500 font-bold">TCS Uruguay</span>.
  I have a passion for learning new things and I'm always looking for new
  challenges to improve my skills.
</p>
