---
import { Github, LinkedIn, Mail, Phone, Whatsapp } from "./icons";
---

<!-- LinkedIn -->
<a
  href="https://www.linkedin.com/in/sebastian-dd"
  target="_blank"
  rel="noopener noreferrer"
  class="text-center text-white text-4xl rounded-xl
  flex justify-center items-center hover:rounded transition-all
  col-start-10 col-span-1 row-start-2 row-span-1
  bg-[#0a66c2]"
  aria-label="LinkedIn"
  title="LinkedIn"
>
  <LinkedIn class="size-20" />
</a>

<!-- WhatsApp -->
<a
  href="https://wa.me/message/VUGV3ZGKPTZTO1"
  target="_blank"
  rel="noopener noreferrer"
  class="text-center text-white text-4xl rounded-xl
  flex justify-center items-center hover:rounded transition-all
  col-start-10 col-span-1 row-start-3 row-span-1
  bg-[#25d366]"
  aria-label="WhatsApp"
  title="WhatsApp"
>
  <Whatsapp class="size-20" />
</a>

<!-- Email -->
<a
  href="mailto:sebastiandiazdopazo@gmail.com"
  target="_blank"
  rel="noopener noreferrer"
  class="text-center text-white text-4xl rounded-xl
  flex justify-center items-center hover:rounded transition-all
  col-start-10 col-span-1 row-start-4 row-span-1
  bg-red-500"
  aria-label="Email"
  title="Email"
>
  <Mail class="size-20" />
</a>

<!-- GitHub -->
<a
  href="https://github.com/sebadio"
  target="_blank"
  rel="noopener noreferrer"
  class="text-center text-white text-4xl rounded-xl
  flex justify-center items-center hover:rounded transition-all
  col-start-10 col-span-1 row-start-5 row-span-1
  bg-gray-800"
  aria-label="GitHub"
  title="GitHub"
>
  <Github class="size-20" />
</a>

<!-- Phone -->
<a
  href="tel:+59896416583"
  target="_blank"
  rel="noopener noreferrer"
  class="text-center text-white text-4xl rounded-xl
  flex justify-center items-center hover:rounded transition-all
  col-start-10 col-span-1 row-start-6 row-span-1
  bg-yellow-500"
  aria-label="Phone"
  title="Phone"
>
  <Phone class="size-20" />
</a>
