---

---

<div class={Astro.props.class}>
  <img
    style="clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 50% 100%, 0% 50%);"
    class="w-full h-full object-cover object-center rounded-3xl"
    src="/foto/self.webp"
    alt="Self"
  />
</div>
